<a href="https://colab.research.google.com/github/Rishekh/Airbnb-Booking-Analysis/blob/main/Airbnb_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it?
* How long ago the last review was left?
* How often the host replies to inquiries?
* Mean rating of reviews given by guests? </b>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from datetime import datetime
from datetime import date

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
file_path = "/content/drive/MyDrive/Colab Notebooks/project/Airbnb.csv"
df= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/project/Airbnb.csv")

**Lets look at the first few rows of the dataframe**

In [ ]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

**Lets take a look at the last few rows of data set**

In [ ]:
df.tail()

             id  ... availability_365
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[5 rows x 16 columns]

**Number of rows and columns in the dataframe:**

In [ ]:
df.shape

(48895, 16)

**types of variables present in the dataframe:**

In [ ]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

**list of columns in the dataframe:**

In [ ]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

**Statistical Analysis of dataframe:**

In [ ]:
df.describe()

                 id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   1.901714e+07  ...        112.781327
std    1.098311e+07  ...        131.622289
min    2.539000e+03  ...          0.000000
25%    9.471945e+06  ...          0.000000
50%    1.967728e+07  ...         45.000000
75%    2.915218e+07  ...        227.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

**Descriptive Analysis of the dataframe. Checking for the null rate, fill rate and null values if any present in the dataframe df.**

In [ ]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

**replacing the null values of  column with the some value**

In [ ]:
df.fillna(value={'name':'no name','host_name':'no host name','last_review':'no review'},inplace=True)

In [ ]:
mean_value = df['reviews_per_month'].mean()
mean_value
df['reviews_per_month'].fillna(value=mean_value,inplace=True)

In [ ]:
df['reviews_per_month']

0        0.210000
1        0.380000
2        1.373221
3        4.640000
4        0.100000
           ...
48890    1.373221
48891    1.373221
48892    1.373221
48893    1.373221
48894    1.373221
Name: reviews_per_month, Length: 48895, dtype: float64

In [ ]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

**finding the percentage of null values present in the data set**

In [ ]:
percent_miss = df.isnull().sum()*100/len(df)
percent_miss

id                                0.0
name                              0.0
host_id                           0.0
host_name                         0.0
neighbourhood_group               0.0
neighbourhood                     0.0
latitude                          0.0
longitude                         0.0
room_type                         0.0
price                             0.0
minimum_nights                    0.0
number_of_reviews                 0.0
last_review                       0.0
reviews_per_month                 0.0
calculated_host_listings_count    0.0
availability_365                  0.0
dtype: float64

End of data cleaning.
Now the data is cleaned and the data set is ready to export

### All available neighbourhood in Data set

In [ ]:
list(df["neighbourhood_group"].unique())

['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx']

#### Hotels in Brooklyn

In [ ]:
Brooklyn_hotel= df[df["neighbourhood_group"]=="Brooklyn"]
Brooklyn_hotel.loc[0:900,["id","name","host_name","neighbourhood_group","minimum_nights"]]

         id  ... minimum_nights
0      2539  ...              1
3      3831  ...              1
6      5121  ...             45
12     5803  ...              4
15     6848  ...              2
..      ...  ...            ...
890  322037  ...              2
891  322604  ...              2
894  324115  ...              2
896  324800  ...              3
899  326956  ...              3

[434 rows x 5 columns]

### Hotels in Manhattan

In [ ]:
Manhattan_hotel= df[df["neighbourhood_group"]=="Manhattan"]
Manhattan_hotel.loc[0:900,["id","name","host_name","neighbourhood_group","minimum_nights"]]

         id  ... minimum_nights
1      2595  ...              1
2      3647  ...              3
4      5022  ...             10
5      5099  ...              3
7      5178  ...              2
..      ...  ...            ...
893  323706  ...             30
895  324517  ...              1
897  325429  ...              4
898  326832  ...              2
900  327521  ...              5

[400 rows x 5 columns]

### Hotels in Queens

In [ ]:
Queens_hotel= df[df["neighbourhood_group"]=="Queens"]
Queens_hotel.loc[0:900,["id","name","host_name","neighbourhood_group","minimum_nights"]]

         id  ... minimum_nights
46    12937  ...              3
77    18198  ...             30
143   32363  ...              2
161   39593  ...             30
181   45910  ...              8
196   51850  ...              2
199   53469  ...             30
200   53470  ...              7
201   53477  ...              7
218   57166  ...              2
229   59121  ...             14
257   63360  ...              5
316   74680  ...              2
348   94035  ...              1
360  100184  ...              1
367  105469  ...             27
385  115748  ...              4
403  132516  ...              3
435  151199  ...              1
441  152520  ...             40
457  161366  ...             40
469  165824  ...             44
505  180507  ...             30
506  180792  ...             30
530  193393  ...              2
563  209310  ...             28
573  215784  ...             30
617  233638  ...              1
620  234870  ...             30
631  239733  ...             28
650  246916  ...              4
683  254131  ...              5
690  256078  ...             10
698  258686  ...              4
720  263776  ...              2
736  267435  ...              1
744  269889  ...              2
746  270231  ...              2
776  278145  ...              5
815  289958  ...              2
820  291812  ...              5
828  294239  ...              3
842  296361  ...              1
873  311356  ...              2

[44 rows x 5 columns]

### Hotels in Staten Island

In [ ]:
Staten_Island_hotel= df[df["neighbourhood_group"]=="Staten Island"]
Staten_Island_hotel.loc[0:900,["id","name","host_name","neighbourhood_group","minimum_nights"]]

         id  ... minimum_nights
169   42882  ...              2
249   62452  ...              2
250   62461  ...              2
251   62787  ...              2
256   63320  ...              2
571  214917  ...              2
598  225976  ...              6
702  258838  ...              2
703  258876  ...              7
704  259946  ...              2
866  310272  ...              1

[11 rows x 5 columns]

### Hotels in Bronx Island

In [ ]:
Bronx_hotel= df[df["neighbourhood_group"]=="Bronx"]
Bronx_hotel.loc[0:900,["id","name","host_name","neighbourhood_group","minimum_nights"]]

         id  ... minimum_nights
171   44096  ...              1
207   54626  ...              1
260   63588  ...              2
261   63610  ...              2
309   71812  ...             30
433  149777  ...              1
484  169306  ...              4
510  182177  ...              2
557  206071  ...              3
610  230854  ...              5
645  245544  ...              2
737  267535  ...              2

[12 rows x 5 columns]